.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
  color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.nav a:hover {
  color: #00ffff;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .nav {
    overflow: hidden;
    height: 0;
    flex-direction: column;
    transition: height 0.5s ease;
  }

  .nav.open {
    height: auto;
  }

  .hamburger {
    display: block;
  }

  .nav a {
    margin: 10px 0;
  }
}